<!--
    ==============================================
    ; Title: Assignment 4.2 pets-r-us
    ; Author: Chad ONeal
    ; Date: 09/09/2022
    ; Resource: Resource: https://www.youtube.com/watch?v=lYVKbAn5Od0
    ; Description: Customer List page HTML for pets-r-us
    ==============================================
    -->    
        
    <!DOCTYPE html>
        
    <html lang="en-US">
        
    <head>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="my-appointments">
        
        
                
            <!--google fonts, gstatic fonts, cdn icons style sheets -->
            <link href="https://fonts.gstatic.com" rel="preconnect">
            <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        
        <!--title of page-->
        <title>My Appointments</title>
            
        
        <!--css stylesheet-->
        <link rel="stylesheet" href="styles/my-appoinmtments.css">
        
    </head>
    
    <!--body of page with anchor for back to top-->
    <body>
        <a name="top"></a>
    
        <header>    
            <h3>Pets-R-Us - My Appointments</h3>
        <hr class="first">
        </header>