<!--
==============================================
; Title: Assignment 4.2 pets-r-us
; Author: Chad ONeal
; Date: 08/31/2022
; Description: Grooming page HTML for pets-r-us
==============================================
-->
    
    
<!DOCTYPE html>
    
<html lang="en-US">
    
    <head>
    
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="grooming">

        <!--google fonts, gstatic fonts, cdn icons style sheets -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

           
    <!--title of page-->
    <title>Grooming Page</title>
        
    
        <!--css stylesheet-->
        <link rel="stylesheet" href="../public/styles/grooming.css">

    </head>

<!--body of page-->    
<body>
    <a name="top"></a>    
    <header>
        <p>Pets-R-Us - Grooming</p>
        <hr class="first">
    </header>

<!--main content section, must be here or footer will not display properly-->    
<main>
    
    <!--card for nav links and images-->
    <section class="company-info">
        
        <div class="card">           
            <div class="nav">
            
            <nav>
                <a href="index.html">Home</a>
                <a href="boarding.html">Boarding</a>  
                <a href="training">Training</a>
                <a href="booking">Book an Appointment</a>
                <a href="my-appointments">My Appointments</a>                    
            </nav>

            </div>
        </div>

        <!--second horizontal rule-->
        <hr class="second">
            
        <div class="images">

            <img src="../public/images/goat.jpg" alt="Goat getting haircut">
            <img src="../public/images/towel.jpg" alt="Dog in towel">
            <img src="../public/images/shower.jpg" alt="Dog in shower">
            
        </div>
    
    <!--gromming services prices card and info-->
    <section class="pricing-info">

        <div class="card">                
            <p>Grooming Services Prices</p>
            <hr class="third">
            <ul>
                <li>Full Service (small dogs) $40</li> |
                <li>Full Service (large dogs) $75<li>  |
                <li>Nail Trim & Buffing $20</li>  | <br>
                <li>Nail Trim $10</li>  |
                <li>Teeth Brushing $20</li>  | <br>
                <li>Face & Feet Trim $20</li>  |
                <li>Flea & Tick Treatment $40</li>
            </ul>

        </div>
    </section>

    <br><br>   
     <!--card for contact info-->   
    <section class="contact">
        <div class="card1"> 
        <form>
            <input type="email" placeholder="enter email address">
            <a href="#top">Contact Us</a><br>
            <p>Phone: 865-227-4641</p>
        </form>
        </div>
    </section>

    

</main>

    <br><br>

    <!--footer-->
    <footer>   
        <p>&#169; Wicked Robot Designs 2022</p> 
        
    </footer>
        
           
</body>     
    
</html>