<!--
==============================================
; Title: Assignment 4.2 pets-r-us
; Author: Chad ONeal
; Date: 08/31/2022
; Description: Landing page HTML for pets-r-us
==============================================
-->


<!DOCTYPE html>

<html lang="en-US">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
                
        <!--google fonts, gstatic fonts, cdn icons style sheets -->
        <link href="https://fonts.gstatic.com" rel="preconnect">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

        <!--css stylesheet-->
    <link rel="stylesheet" href="styles/site.css">

    <!--title of page-->
    <title><%- title %></title>
    
    </head>

<!--body of page with anchor for back to top-->
<body>
    <a name="top"></a>
     
    <!--imports headers from partials-->
    <%- include('./partials/_header.html') %>        
        
<!--div for company info and nav-->                
<section class="company-info">
    <div class="card">                
        <div class="nav">
        <nav>
            <a href="registration">Register</a>
            <a href="boarding">Boarding</a> 
            <a href="grooming">Grooming</a> 
            <a href="training">Training</a>
            <a href="booking">Booking</a>
            <a href="my-appointments">My Appointments</a>
            <a href="customer">Customer List</a>                    
        </nav>
        <hr>
        </div>                
    <h2 class="title">Company Info:</h2>

    <!--information paragraph about company-->
    <p>
    Established in 2004, Pets-R-Us, is the regions largest pet
    provider of grooming, boarding, and training services and answers for the
    lifetime needs of your furry friends. At Pets-R-Us , we cherish
    our 4-legged friends, and we trust these friends as they improve
    us as individuals. Pets-R-Us is without a doubt the local go to shop
    for all the best for our pet products, supplies, services, and accessories.
    We are the only choice for making all our pets feel that they are living
    the absolute best life.
    </p>

    </div>
</section>

    <!--card for dog of the week photo and information-->
    <div class="dog">
        <div class="card1">
        <p>Dog of the Week</p><br><br>
            <li>Name: Neyland</li><br><br>
                <li>Favorite Toy: Tennis Ball</li><br>
                <img src="images/Neyland.jpg" alt="Neyland">      
        </div>
    </div>   

    <!--card for location information-->
    <div class="info-cards">        
    
        <div class="card-items">

            <div class="card-title">
                Locations
            </div>
            <br>

            <div class="card-content" id="locations">
                <p>12655 Daisywood Dr. Knoxville, TN 37934  |  10023 Hill Rd. Knoxville, TN 37938</p>                
            </div>

    </div>
        <br><br>

        <!--card for hours of operation info-->
        <div class="card-items">

            <div class="card-title">
                Hours of Operation
            </div>

            <div class="card-content" id="hours">
                <div class="card-content">
                    <ul>
                        <li>Monday:    9:00 AM - 6:30 PM</li> |
                        <li>Tuesday:   9:00 AM - 6:30 PM</li>  |
                        <li>Wednesday: 9:00 AM - 6:30PM</li>  | <br>
                        <li>Thursday:  9:00 AM - 6:30 PM</li>  |
                        <li>Friday:    9:000AM - 6:30PM</li>  | <br>
                        <li>Saturday:  10:00 AM - 6:00PM</li>  |
                        <li>Sunday:    Closed</li>
                    </ul>
                </div>
                
            </div>
        </div>
    
    <!--card for testimonials-->    
    <section class="testimonials">
        Testimonials
        <li>Lane Kiffleton - I love everything about them as they show much love and care for what they do.</li>
        <li>Burt Jinx - Incredible service everytime we go. I do not like leaving my dogs behind when I go out 
            of town yet when I do, I have 100% faith that I can trust Pets-R-Us.</li>
    </section>

    </div>

    <!--card for contact info-->
    <section class="contact">
        <form>
            <input type="email" placeholder="enter email address">
            <a href="#top">Contact Us</a><br><br>
            <p>Phone: 865-227-4641</p>
        </form>
    </section>

    <!--imports footer from partials-->
    <%- include('./partials/_footer.html') %>
    
</body> 


</html>